/* note 初期化処理 */
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	height: 100%;
}
body{
	line-height: 1;
	font-size: 16px;
	font-family: "Helvetica Neue", "メイリオ", Meiryo, Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
iframe{
	max-width: 100%;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
.dummy{
	display: block;
	height: 0;
	clear: both;
}
.back{
	position: fixed;
	z-index: -10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("../img/bg.png");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
body{
	position: relative;
	height: 100%;
	min-height: 500px;
	background-color: #e22d2d;
	color: #fff;
}
.wrap-table{
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}
.wrap-cell{
	display: table-cell;
	vertical-align: middle;
}
.wrap{
	position: relative;
	display: inline-block;
	padding-bottom: 3em;
}
.h-title{
	font-size: 6em;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}
.h-description{
	margin-bottom: .5em;
	font-size: 1.4em;
	font-weight: bold;
}
.c-link-list{
	display: block;
	list-style: none;
	font-size: 0;
}
.c-link-list li{
	display: inline-block;
	width: 50%;
	padding: 0 3px;
	list-style: none;
	font-size: 16px;
	font-size: 1rem;
}
.c-link-list a{
	display: block;
	color: #fff;
	padding: .5em 0;
	border-width: 3px;
	border-style: solid;
	border-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	-webkit-transition: all 250ms;
	-o-transition: all 250ms;
	transition: all 250ms;
}
.c-link-list a:hover{
	background: #fff;
	color: #ff1f30;
}
#foot{
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: .5em;
}
#foot-inner{
	font-size: .9em;
	text-align: center;
	line-height: 1.2;
}
.f-copyright{
	color: #e6e6e6;
}
.f-copyright a{
	color: #a9deff;
	text-decoration: underline;
}
.f-copyright a:hover{
	color: #fff;
	text-decoration: none;
}


@media screen and (max-width: 1040px){
}
@media screen and (max-width: 850px){
}
@media screen and (max-width: 640px){
	.h-title{
		font-size: 3em;
	}
	.h-description{
		font-size: 1em;
	}
	.c-link-list a{
		border-width: 2px;
		font-size: .9em;
	}
	.f-copyright{
		font-size: .8em;
		line-height: 1.2;
	}
}

